In [43]:
import pandas as pd

In [15]:
#Q1
df = pd.Series([4, 8, 15, 16, 23, 42])

In [7]:
type(df)

pandas.core.series.Series

In [8]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
#Q2
a = [4,3,5,3,27,9,6,8,3,5]

In [11]:
df_a = pd.Series(a)

In [13]:
type(df_a)

pandas.core.series.Series

In [18]:
#Q3
data = [['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]

In [19]:
df = pd.DataFrame(data, columns = ['Name','Age','Gender'])

In [20]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [41]:
#Q4
#Pandas DataFrame is a 2-dimensional labeled 
#data structure like any table with rows and columns. Series is a 1-dimensional
#labled data structure.

print("This is an example of a dataframe:")
print('------------------------')
print(df)
for _ in range(2):
    print("   ")
print("This is an example of a series:\n",a)

This is an example of a dataframe:
------------------------
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


This is an example of a series:
 [4, 3, 5, 3, 27, 9, 6, 8, 3, 5]

In [ ]:
#Q5
#there are lots of functions in general to manipulate data in pandas,
#we can name some common ones, like head,tail,to_csv,etc

In [ ]:
#Q6
#Series, Dataframe and Panel are mutable

In [51]:
#Q7
b = [3,45,2,4,2]
c = [3,42,4,5,4]
data = list(zip(a,b))
df = pd.DataFrame(data,columns=['number1','number2'])

In [52]:
df

   number1  number2
0        4        3
1        3       45
2        5        2
3        3        4
4       27        2

In [53]:
type(df)

pandas.core.frame.DataFrame